html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}*,*:after,*:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

body {
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
  font-size: 16px;
  line-height: 1.5;
  padding: 0 20px;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

em { font-style: italic; }

.main-header {
  width: 100%;
  max-width: 500px;
  margin: 100px auto 0 auto;
  text-align: center;
}

.main-header h1 {
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: bold;
}

.main-header p { margin-bottom: 30px; }

.main-header a {
  color: #000;
  text-decoration: none;
  margin: 0 20px;
  font-weight: 700;
  border-bottom: 2px solid transparent;
}

.main-header a:hover {
  border-bottom: 2px solid #000;
}

.feed {
  width: 100%;
  max-width: 500px;
  margin: 100px auto 200px auto;
}

.time-header {
  margin-top: 70px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.time-header.with-year {
  display: flex;
  justify-content: space-between;
}

.year-name, .month-name { font-weight: bold; }

.month-name {
  display: block;
  text-align: right;
}

.post {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.post-title a {
  color: #000;
  text-decoration: none;
}

.post-title a:hover { text-decoration: underline; }

.post-date {
  color: #999;
  margin-left: 20px;
}

article {
  width: 100%;
  max-width: 500px;
  margin: 100px auto 200px auto;
}

article p {
  margin-bottom: 30px;
}

article a {
  color: #000;
}

article hr {
  background: #ededed;
  height: 1px;
  border: none;
  margin-bottom: 30px;
}
